@font-face {
  font-family: Objective;
  src: url(../Fonts/Objective-Regular.otf);
}

@font-face {
  font-family: Objective-bold;
  src: url(../Fonts/Objective-Bold.otf);
}

@font-face {
  font-family: Objective-medium;
  src: url(../Fonts/Objective-Medium.otf);
}
