$breakpoints: (
  ex-sm: 360px,
  sm: 560px,
  md: 768px,
  lg: 1024px,
  ex-lg: 1378px,
);

$chief-color: #0f001a;
$small-text: 0.62rem;
$list-item: 0.87rem;
$normal-text: 1rem;
$sub-title: 1.125rem;
$ordinary-font: "Objective";
$bold-font: "Objective-bold";
$medium-font: "Objective-medium";
