.initial-instruction {
  width: 100%;
  background: rgba(74, 153, 211, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 95px 0px;
}

.initial-instruction__title-container {
  text-align: center;
}

.initial-instruction__title {
  font-family: "Objective-bold";
  color: #4a99d3;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 27px;
}

.initial-instruction__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

.initial-instruction__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 257px;
}
.initial-instruction__block:nth-child(1) {
  width: 227px;
}

.initial-instruction__sub-title {
  margin: 30px 0px 10px;
  font-family: "Objective-bold";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 19px;
}

.initial-instruction__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  max-width: 224px;
}